body{
    font-family: 'Josefin Slab', serif !important;
}

#Title{
    font-family: 'Amatic SC', sans-serif !important;
    color: white;
    line-height: 1;
    margin-top: 1rem;
    font-size: 5rem;
}

#Description{
    
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#begin_button{
    font-size: 1rem;
    margin-bottom: 1rem;
}

#questions_header{
    color: white;
}

#formlabels{
    color: white;
    font-size: 1.5rem;
}

#question{
    color: white;
}

#options1{
    color: white;
}

@media (max-width: 600px){
    #Description{
        font-size: 0.75rem;
    }

    #desc_container{
        width: 100% !important;
    }

    #begin_button{
        font-size: 1rem;
    }
}